@page
@model ReuseSU.website.Pages.UserAgreementModel
@{
    ViewData["Title"] = "UserAgreement";
}


<a class="nav-link text-dark" asp-area="" asp-page="/03_TutorialStart"> <img src="~/img/02_user_agreement.jpg" /></a>

<h1>UserAgreement</h1>