@page
@model ReuseSU.website.Pages.TutorialPrePostModel
@{
    ViewData["Title"] = "TutorialPrePost";
}


<a class="nav-link text-dark" asp-area="" asp-page="/NewPostSUPurchase"> <img src="~/img/04_tutorial_prepost.jpg" /></a>

<h1>TutorialPrePost</h1>