@page
@model ReuseSU.website.Pages.NewPostSUPurchaseModel
@{
    ViewData["Title"] = "NewPostSUPurchase";
}

<!--
<a class="nav-link text-dark" asp-area="" asp-page="/06_NewPostCategorySelection"> <img src="~/img/05_su_purchased_q.jpg" /></a>

<h1>NewPostSUPurchase</h1>
-->

<div class="create-post-header">
    Make a New Post<br />
    <div class="create-post-subheader">Page 1 of 3</div>
</div>

<main role="main" class="pb-3">
    <div class="create-post-body">
        <div class="create-post-title">Was this item purchased with SU funds?</div>
        
        <!-- Next Button-->
        <a class="btn btn-outline-dark sidebar-upper-button" asp-area="" asp-page="/08_TutorialAfterPosting">
            Publish Post
        </a>
    </div>


</main>
