@page
@model ReuseSU.website.Pages.NewPostSUPurchaseModel
@{
    ViewData["Title"] = "NewPostSUPurchase";
}

<!--
<a class="nav-link text-dark" asp-area="" asp-page="/06_NewPostCategorySelection"> <img src="~/img/05_su_purchased_q.jpg" /></a>

<h1>NewPostSUPurchase</h1>
-->

<div class="create-post-header">
    Make a New Post<br />
    <div class="create-post-subheader">Page 1 of 3</div>
</div>

<div class="container">
    <main role="main" class="pb-3">
        <div class="create-post-body" style="height: 400px">
            <div class="create-post-title" style="margin-bottom: 100px">Was this item purchased with SU funds?</div>
            <form action="">
                <input type="radio" id="Yes" name="SUPurchase" value="Yes" checked>
                <label for="Yes" style="font-size: 30px;">Yes</label><br>
                <input type="radio" id="No" name="SUPurchase" value="No">
                <label for="No" style="font-size: 30px;">No</label><br>
                <br>
            </form>
            <!-- Next Button-->
            <a class="btn btn-outline-dark sidebar-upper-button" asp-area="" asp-page="/06_NewPostCategorySelection">
                Next
            </a>
        </div>


    </main>
</div>
