@page
@model ReuseSU.website.Pages.NewPostSUPurchaseModel
@{
    ViewData["Title"] = "NewPostSUPurchase";
}


<a class="nav-link text-dark" asp-area="" asp-page="/NewPostCategorySelection"> <img src="~/img/05_su_purchased_q.jpg" /></a>

<h1>NewPostSUPurchase</h1>