@page
@model ReuseSU.website.Pages.NewPostCategorySelectionModel
@{
    ViewData["Title"] = "NewPostCategorySelection";
}

<!--
<a class="nav-link text-dark" asp-area="" asp-page="/07_NewPostItemSpecifics"> <img src="~/img/06_category_q.jpg" /></a>

<h1>NewPostCategorySelection</h1>
-->

    <div class="create-post-header">
        Make a New Post<br />
        <div class="create-post-subheader">Page 2 of 3</div>
    </div>

<main role="main" class="pb-3">
    <div class="create-post-body" style="height: 800px">
        <div class="create-post-title" style="margin-bottom: 80px">Which category best describes your item?</div>

        <div class="create-post-checkbox"><input type="checkbox" checked />&nbsp;Furniture</div>
        <div class="create-post-checkbox"><input type="checkbox" />&nbsp;Decor</div>
        <div class="create-post-checkbox"><input type="checkbox" />&nbsp;Books</div>
        <div class="create-post-checkbox"><input type="checkbox" />&nbsp;Electronics</div>
        <div class="create-post-checkbox"><input type="checkbox" />&nbsp;Misc</div>
        
        <!-- Next Button-->
        <a class="btn btn-outline-dark sidebar-upper-button" asp-area="" asp-page="/07_NewPostItemSpecifics">
            Next
        </a>
    </div>


</main>