@page
@model ReuseSU.website.Pages.NewPostItemSpecificsModel
@{
    ViewData["Title"] = "NewPostItemSpecifics";
}

<!--
<a class="nav-link text-dark" asp-area="" asp-page="/08_TutorialAfterPosting"> <img src="~/img/07_fill_out_info_boxes.jpg" /></a>


<h1>NewPostItemSpecifics</h1>
-->

<main role="main" class="pb-3">
    <div class="create-post">
        <div class="create-post-title">Item Specifics</div>
        <input type="text" value="Include more details about your item." class="create-post-description"></input>
    </div>

</main>