@page
@model ReuseSU.website.Pages.TutorialEndModel
@{
    ViewData["Title"] = "TutorialEnd";
}

<a class="nav-link text-dark" asp-area="" asp-page="/Index"> <img src="~/img/10_tutorial_finish.jpg" /></a>

<h1>TutorialEnd</h1>