@page
@model ReuseSU.website.Pages.ItemReadViewModel
@{
    ViewData["Title"] = "ItemReadView";
}

    <div class="full-listing">

        <div class="full-listing-header">

        </div>

        <div class="full-listing-body">

        </div>

        <div class="full-listing-gallery">
            <img src="~/img/Earbuds_300px.jpg" class="full-listing-image"/>
        </div>

        <div class="full-listing-footer">

        </div>

    </div>

<img src="~/img/Danial_2_EvilPost.jpg" />
<h1>ItemReadView</h1>
<a class="nav-link text-dark" asp-area="" asp-page="/13_AboutFlagging"> About Flagging </a>
<a class="nav-link text-dark" asp-area="" asp-page="/14_FlagPost"> Flag Post </a>