@page
@model ReuseSU.website.Pages.ItemReadViewModel
@{
    ViewData["Title"] = "ItemReadView";
}

<!-- style on the sidebar-lower div is temporary-->
<div class="sidebar-lower" style="width: 210px; height:300px; float: left; margin: 10px;">
    <p class="lower-sidebar-text">for this post</p>
    <button type="button" class="btn btn-outline-dark sidebar-upper-button">Email Poster</button>
    <button type="button" class="btn btn-outline-dark sidebar-upper-button" data-toggle="modal" data-target="#flagging-modal">Flag</button>
    <p class="help-text" data-toggle="modal" data-target="#flagging-help-text">|?| How does flagging work?</p>
</div>

<div class="full-listing">

    <div class="full-listing-header">
        <h4 style="float: left;">Factory Fresh Apple Earbuds, get them quick!</h4>
        <p style="float: right; margin-top: 0px" class="listing-item-date-person">January 23, 2020<br>by Darren Herstad</p>
    </div>

    <div class="full-listing-body">
        <p class="listing-body-text">Apple Earbuds available, barely used at all. This is a real sweet deal my fellow Seattle University students! Listen to sweet jams as if you were in the mosh pit! Never before worn (by a human) earbuds are exactly what you need this summer to liven up your day.</p>
    </div>

    <div class="full-listing-gallery">
        <img src="~/img/Earbuds_300px.jpg" class="full-listing-image" />
    </div>

    <div class="full-listing-footer">

    </div>

</div>

<img src="~/img/Danial_2_EvilPost.jpg" />
<h1>ItemReadView</h1>
<a class="nav-link text-dark" asp-area="" asp-page="/13_AboutFlagging"> About Flagging </a>
<a class="nav-link text-dark" asp-area="" asp-page="/14_FlagPost"> Flag Post </a>

<!-- FLAGGING MODAL -->
<div class="modal fade right" id="flagging-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-side modal-top-right modal-lg" role="document">


        <div class="modal-content">
            <div class="modal-header">
                <h2>Flagging: 'Apple Earbuds'</h2>
            </div>
            <div class="modal-body">
                <h3>Are you sure you want to flag 'Apple Earbuds'?</h3>
                <ul>
                    <li>Flagging is effective immediately and will remove the item as soon as you flag it.</li>
                    <li>You should flag items if and only if they do not adhere to the <em>posting policy</em></li>
                    <li>Flagging is anonymous and the poster will not know who flagged their item.</li>
                </ul>
                <h4>Why are you flagging?</h4>
                <div class="checkbox"><input type="checkbox" />&nbsp;The item has been posted multiple times</div>
                <div class="checkbox"><input type="checkbox" />&nbsp;The user is requesting payment for this item</div>
                <div class="checkbox"><input type="checkbox" />&nbsp;The item is no longer available</div>
                <div class="checkbox"><input type="checkbox" />&nbsp;The item is inappropriate or explicit</div>
                <div class="checkbox"><input type="checkbox" />&nbsp;The item violates the <em>posting policy</em> in another way</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" ><a href="16_DemoEnd">Confirm Flagging</a></button>
            </div>
        </div>
    </div>
</div>


<!-- HELP TEXT MODAL -->
<div class="modal fade right" id="flagging-help-text" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-side modal-top-right" role="document">


        <div class="modal-content">
            <div class="modal-header">
                <h2>Questions about flagging?</h2>
            </div>
            <div class="modal-body">
                <p><b>What is flagging:</b> Flagging something will remove the item from view as soon as you flag it.</p>
                <p><b>When to flag:</b> You should flag items if and only if it does not adhere to the <em>posting policy</em>.</p>
                <p><b>Flagging is anonymous:</b> The poster will not know who flagged their item. Only site admins can.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Thanks</button>
            </div>
        </div>
    </div>
</div>

<!-- FLAGGING CONFIRATION MODAL -->
<div class="modal fade right" id="flagging-confirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-side modal-top-right" role="document">


        <div class="modal-content">
            <div class="modal-header">
                <h2>Questions about flagging?</h2>
            </div>
            <div class="modal-body">
                <p><b>What is flagging:</b> Flagging something will remove the item from view as soon as you flag it.</p>
                <p><b>When to flag:</b> You should flag items if and only if it does not adhere to the <em>posting policy</em>.</p>
                <p><b>Flagging is anonymous:</b> The poster will not know who flagged their item. Only site admins can.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Thanks</button>
            </div>
        </div>
    </div>
</div>