@page
@model ReuseSU.website.Pages.ItemReadViewModel
@{
    ViewData["Title"] = "ItemReadView";
}

    <div class="full-listing">

        <div class="full-listing-header">
            <h4 style="float: left;">Factory Fresh Apple Earbuds, get them quick!</h4>
            <p style="float: right; margin-top: 0px" class="listing-item-date-person">January 23, 2020<br>by Darren Herstad</p>
        </div>

        <div class="full-listing-body">
            <p>Apple Earbuds available, barely used at all. This is a real sweet deal my fellow Seattle University students! Listen to sweet jams as if you were in the mosh pit! Never before worn (by a human) earbuds are exactly what you need this summer to liven up your day.</p>
        </div>

        <div class="full-listing-gallery">
            <img src="~/img/Earbuds_300px.jpg" class="full-listing-image"/>
        </div>

        <div class="full-listing-footer">

        </div>

    </div>

<img src="~/img/Danial_2_EvilPost.jpg" />
<h1>ItemReadView</h1>
<a class="nav-link text-dark" asp-area="" asp-page="/13_AboutFlagging"> About Flagging </a>
<a class="nav-link text-dark" asp-area="" asp-page="/14_FlagPost"> Flag Post </a>