@page
@model ReuseSU.website.Pages.ItemReadViewModel
@{
    ViewData["Title"] = "ItemReadView";
}

<!-- style on the sidebar-lower div is temporary-->
    <div class="sidebar-lower" style="width: 210px; height:300px; float: left; margin: 10px;">
        <p class="lower-sidebar-text">for this post</p>
        <button type="button" class="btn btn-outline-dark sidebar-upper-button">Email Poster</button>
        <button type="button" class="btn btn-outline-dark sidebar-upper-button">Flag</button>
        <p class="help-text" data-toggle="modal" data-target="#sideModalTR">|?| How does flagging work?</p>
    </div>

<div class="full-listing">

    <div class="full-listing-header">
        <h4 style="float: left;">Factory Fresh Apple Earbuds, get them quick!</h4>
        <p style="float: right; margin-top: 0px" class="listing-item-date-person">January 23, 2020<br>by Darren Herstad</p>
    </div>

    <div class="full-listing-body">
        <p class="listing-body-text">Apple Earbuds available, barely used at all. This is a real sweet deal my fellow Seattle University students! Listen to sweet jams as if you were in the mosh pit! Never before worn (by a human) earbuds are exactly what you need this summer to liven up your day.</p>
    </div>

    <div class="full-listing-gallery">
        <img src="~/img/Earbuds_300px.jpg" class="full-listing-image" />
    </div>

    <div class="full-listing-footer">

    </div>

</div>

<img src="~/img/Danial_2_EvilPost.jpg" />
<h1>ItemReadView</h1>
<a class="nav-link text-dark" asp-area="" asp-page="/13_AboutFlagging"> About Flagging </a>
<a class="nav-link text-dark" asp-area="" asp-page="/14_FlagPost"> Flag Post </a>


<!-- Side Modal Top Right -->
<!-- Button trigger modal -->


<!-- To change the direction of the modal animation change .right class -->
<div class="modal fade right" id="sideModalTR" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <!-- Add class .modal-side and then add class .modal-top-right (or other classes from list above) to set a position to the modal -->
    <div class="modal-dialog modal-side modal-top-right" role="document">


        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <h2>Questions about flagging?</h2>
                <p><h4>What is flagging:</h4> Flagging something will remove the item from view as soon as you flag it.</p>
                <p><h4>When to flag:</h4> You should flag items if and only if it does not adhere to the <em>posting policy</em>.</p>
                <p><h4>Flagging is anonymous:</h4> The poster will not know who flagged their item. Only site admins can.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Thanks</button>
            </div>
        </div>
    </div>
</div>
<!-- Side Modal Top Right -->