@page
@model ReuseSU.website.Pages.ItemReadViewModel
@{
    ViewData["Title"] = "ItemReadView";
}

<img src="~/img/Danial_2_EvilPost.jpg" />
<h1>ItemReadView</h1>
<a class="nav-link text-dark" asp-area="" asp-page="/AboutFlagging"> About Flagging </a>
<a class="nav-link text-dark" asp-area="" asp-page="/FlagPost"> Flag Post </a>