@page
@model ReuseSU.website.Pages.DemoEndModel
@{
    ViewData["Title"] = "DemoEnd";
}

<!-- JS copy/pasted from https://www.tutorialrepublic.com/faq/how-to-launch-bootstrap-modal-on-page-load.php -->
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $("#flagging-confirmation").modal('show');
    });
</script>



<!-- FLAGGING CONFIRMATION MODAL -->
<div class="modal fade right" id="flagging-confirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-side modal-top-right" role="document">


        <div class="modal-content">
            <div class="modal-header">
                <h2>Questions about flagging?</h2>
            </div>
            <div class="modal-body">
                <p><b>What is flagging:</b> Flagging something will remove the item from view as soon as you flag it.</p>
                <p><b>When to flag:</b> You should flag items if and only if it does not adhere to the <em>posting policy</em>.</p>
                <p><b>Flagging is anonymous:</b> The poster will not know who flagged their item. Only site admins can.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Thanks</button>
            </div>
        </div>
    </div>
</div>



<a class="nav-link text-dark" asp-area="" asp-page="/TutorialStart"><img src="~/img/Daniel_6_all_is_good_in_the_world.jpg" /></a>

<h1>DemoEnd</h1>