
<!-- All stuff that follows is a result of modal divs -->

<!-- This is the tutorial-1 modal div -->
<div class="modal" id="tutModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Tutorial</h4>
            </div>

            <div class="modal-body">
                Tutorial information.<br /><br />Thing.
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">End tutorial</button>
            </div>

        </div>
    </div>
</div>
