@page
@model ReuseSU.website.Pages.AboutFlaggingModel
@{
    ViewData["Title"] = "AboutFlagging";
}

<a class="nav-link text-dark" asp-area="" asp-page="/ItemReadView"> <img src="~/img/Daniel_3_flag_info.jpg" /></a>

<h1>AboutFlagging</h1>