@page
@model ReuseSU.website.Pages.TutorialEndModel
@{
    ViewData["Title"] = "TutorialEnd";
}

<!-- Contains sidebar-upper, and then everything else is page-specific-->
<div class="container">


    <!-- A container for the sidebar information-->
    <div class="sidebar">

        <!-- The upper box of the left sidebar -->
        <div class="sidebar-upper">

            <button type="button" class="btn btn-outline-dark sidebar-upper-button">Home</button><br />
            <button type="button" class="btn btn-outline-dark sidebar-upper-button">About</button>
            <button type="button" class="btn btn-outline-dark sidebar-upper-button">Usage Guidelines</button>
            <button type="button" class="btn btn-outline-dark sidebar-upper-button" data-toggle="modal" data-target="#tutModal">
                Tutorial
            </button>
            <button type="button" class="btn btn-outline-dark sidebar-upper-button">My Posts</button>

        </div>

        <!-- Lower box of the left sidebar -->
        <div class="sidebar-lower">

            <div class="lower-sidebar-text">Set defaults</div>
            <div class="checkbox"><input type="checkbox" checked />&nbsp;Test</div>
            <div class="checkbox"><input type="checkbox" />&nbsp;Test</div>

            <div class="lower-sidebar-text">Filter by Category</div>
            <div class="checkbox"><input type="checkbox" checked />&nbsp;Test</div>
            <div class="checkbox"><input type="checkbox" />&nbsp;Test</div>
            <div class="checkbox"><input type="checkbox" checked />&nbsp;Test</div>
            <div class="checkbox"><input type="checkbox" />&nbsp;Test</div>
            <div class="checkbox"><input type="checkbox" checked />&nbsp;Test</div>
            <div class="checkbox"><input type="checkbox" />&nbsp;Test</div>
        </div>

    </div>

    <!-- The main area, for looking at item listings/posts -->
    <main role="main" class="pb-3">

        <!-- Newly created listing for Elena's Chair scenario item -->
        <div class="listing">
            <div class="listing-img"><img style="margin-top: 13px;" src="~/img/herman-miller-100px.jpg"></div>
            <div class="listing-item-title" style="float:left">Herman Miller Aeron Desk Chair</div>
            <div class="listing-item-date-person" style="float:right">May 2nd, 2020 by emapelli</div>
            <div class="listing-item-text">Herman Miller Aeron desk chair, black, like new condition.  I've only had it a few months but it's too big for my shared office.</div>
        </div>

        <div class="listing">
            <div class="listing-img"><img src="~/img/default_image_mtn.png"></div>
            <div class="listing-item-title" style="float:left">Apple Earbuds 1</div>
            <div class="listing-item-date-person" style="float:right">January 23, 2020 by dherstad</div>
            <div class="listing-item-text">1 Great earbuds, only $75!</div>
        </div>

        <div class="listing">
            <div class="listing-img"><img src="~/img/AppleEarbudsSmall.jpg"></div>
            <a class="listing-item-title" asp-area="" asp-page="/factory-fresh-apple-airbuds" style="float:left">Factory Fresh Apple Earbuds, get them quick!</></a>
            <div class="listing-item-date-person" style="float:right">January 23, 2020 by dherstad</div>
            <div class="listing-item-text">Apple Earbuds available, barely used at all. This is a real sweet deal my fellow Seattle University students! Listen to sweet jams as if you were in the mosh pit! [...]</div>
        </div>

        <div class="listing">
            <div class="listing-img"><img src="~/img/default_image_mtn.png"></div>
            <div class="listing-item-title" style="float:left">Apple Earbuds 2</div>
            <div class="listing-item-date-person" style="float:right">January 23, 2020 by dherstad</div>
            <div class="listing-item-text">2 Great earbuds, only $75!</div>
        </div>

    </main>
</div>