@page
@model ReuseSU.website.Pages.FlagPostModel
@{
    ViewData["Title"] = "FlagPost";
}

<h1>FlagPost</h1>
<a class="nav-link text-dark" asp-area="" asp-page="/FlaggingConfirmation"> <img src="~/img/Daniel_4_flagging.jpg" /></a>