@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- JS copy/pasted from https://www.tutorialrepublic.com/faq/how-to-launch-bootstrap-modal-on-page-load.php -->
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $("#tutorial-modal-1").modal('show');
    });
</script>


<!-- Contains sidebar-upper, and then everything else is page-specific-->
<div class="container">


    <!-- A container for the sidebar information-->
    <div class="sidebar">

        <!-- The upper box of the left sidebar -->
        <div class="sidebar-upper">

            <button type="button" class="btn btn-outline-dark sidebar-upper-button">Home</button><br />
            <button type="button" class="btn btn-outline-dark sidebar-upper-button">About</button>
            <button type="button" class="btn btn-outline-dark sidebar-upper-button">Usage Guidelines</button>
            <button type="button" class="btn btn-outline-dark sidebar-upper-button" data-toggle="modal" data-target="#tutModal">
                Tutorial
            </button>
            <button type="button" class="btn btn-outline-dark sidebar-upper-button">My Posts</button>

        </div>

        <!-- Lower box of the left sidebar -->
        <div class="sidebar-lower">

            <div class="lower-sidebar-text">Set defaults</div>
            <div class="checkbox"><input type="checkbox" checked />&nbsp;Test</div>
            <div class="checkbox"><input type="checkbox" />&nbsp;Test</div>

            <div class="lower-sidebar-text">Filter by Category</div>
            <div class="checkbox"><input type="checkbox" checked />&nbsp;Test</div>
            <div class="checkbox"><input type="checkbox" />&nbsp;Test</div>
            <div class="checkbox"><input type="checkbox" checked />&nbsp;Test</div>
            <div class="checkbox"><input type="checkbox" />&nbsp;Test</div>
            <div class="checkbox"><input type="checkbox" checked />&nbsp;Test</div>
            <div class="checkbox"><input type="checkbox" />&nbsp;Test</div>
        </div>

    </div>

    <!-- The main area, for looking at item listings/posts -->
    <main role="main" class="pb-3">
        <div class="listing">
            <div class="listing-img"><img src="~/img/default_image_mtn.png"></div>
            <div class="listing-item-title" style="float:left">Apple Earbuds 1</div>
            <div class="listing-item-date-person" style="float:right">January 23, 2020 by dherstad</div>
            <div class="listing-item-text">1 Great earbuds, only $75!</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/default_image_mtn.png"></div>
            <div class="listing-item-title" style="float:left">Apple Earbuds 2</div>
            <div class="listing-item-date-person" style="float:right">January 23, 2020 by dherstad</div>
            <div class="listing-item-text">2 Great earbuds, only $75!</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/AppleEarbudsSmall.jpg"></div>
            <a class="listing-item-title" asp-area="" asp-page="/12_ItemReadView" style="float:left">Apple Earbuds 3</></a>
            <div class="listing-item-date-person" style="float:right">January 23, 2020 by dherstad</div>
            <div class="listing-item-text">3 Great earbuds, only $75!</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/default_image_mtn.png"></div>
            <div class="listing-item-title" style="float:left">Apple Earbuds 4</div>
            <div class="listing-item-date-person" style="float:right">January 23, 2020 by dherstad</div>
            <div class="listing-item-text">4 Great earbuds, only $75!</div>
        </div>

    </main>
</div>







<div id="tutorial-modal-1" class="modal fade in">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color: #d7d7d7; border-radius: 20px;">
            <div class="modal-header">
            </div>
            <h2 class="boldfont reusesu-mod-title">Welcome to ReuseSU!</h2>
            <h4 class="modal-sub-title">
                <p>
                    a simple, easy-to-use platform for free item exchanges<br>
                    within the Seattle University community
                </p>
            </h4>
            <div class="reuse-mod-body">
                It looks like this is your first time on the site,<br />
                so here's an overview of how it works:
            </div>
            <div class="modal-body">
                <div class="modal-body-items">

                    <div class="reusesu-table-row">
                        <div class="modal-body-img">
                            <img src="~/img/M1-SUIconSmall.png" height="60" width="50" />
                        </div>
                        <div class="modal-body-text">
                            Picture - text text test lorem ipsum<br />flsjflsj dflj sdflk jsdklfj slfj sdlkfj
                        </div>
                    </div>

                    <div class="table-row">
                        <div class="modal-body-img">
                            <img src="~/img/M2-PushPinSmall.png" height="60" width="60" />
                        </div>
                        <div class="modal-body-text">
                            Picture - text text test lorem ipsums<br />flsjflsj dflj sdflk  sldfj sdlkfj
                        </div>
                    </div>

                    <div class="table-row">
                        <div class="modal-body-img">
                            <img src="~/img/M3-MagSmall.png" height="60" width="60" />
                        </div>
                        <div class="modal-body-text">
                            Picture - text text test lorem ipsums<br />flsjflsj dflj sdflk  sldfj sdlkfj
                        </div>
                    </div>

                    <div class="table-row">
                        <div class="modal-body-img">
                            <img src="~/img/M4-EmailSmall.png" height="60" width="60" />
                        </div>
                        <div class="modal-body-text">
                            Picture - text text test lorem ipsum<br />flsjflsj dflj sdflk  sldfj sdlkfj
                        </div>
                    </div>

                    <div class="table-row">
                        <div class="modal-body-img">
                            <img src="~/img/M5HandShakeSmall.png" height="60" width="60" />
                        </div>
                        <div class="modal-body-text">
                            Picture - text text test lorem ipsums<br />flsjflsj dflj  sldfj sdlfj sdlkfj
                        </div>
                    </div>

                </div>

                <div class="modal-what1">
                    What would you like to do?
                </div>
                <div class="modal-what2">
                    We'll walk you through it in the next steps.
                </div>

                <div class="modal-buttons">
                    <div class="modal-button-container">
                        <button type="button" style="font-size:x-large;" class="btn btn-outline-dark modal-button" data-target="#tutorial-modal-2"
                                data-dismiss="modal" data-toggle="modal">
                            Post an item
                        </button><br />
                    </div>
                    <div class="modal-button-container">
                        <button type="button" style="font-size:x-large;" class="btn btn-outline-dark modal-button" data-target="#tutorial-modal-2"
                                data-dismiss="modal" data-toggle="modal">
                            Look for items
                        </button><br />
                    </div>
                </div>


                <br /><br />

                <!--
                    <a class="nav-link text-dark" asp-area="" asp-page="/02_UserAgreement"><img src="~/img/tut1_welcome_sliced.png" class="reusese-center" /></a>
                 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#tutorial-modal-2">next</button>
            </div>
        </div>
    </div>
</div>

<div id="tutorial-modal-2" class="modal fade in">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 20px; background-color: #d7d7d7;">
            <div class="modal-header">
            </div>
            <h2 class="boldfont reusesu-mod-title" style="font-size: xx-large;">Great!  We'll guide you through that in a moment.</h2>
            <div class="reuse-mod-body">
                First, here are a few important things to know<br>
                before you proceed:
            </div>
            <div class="modal-body">
                <div class="modal-body-items">

                    <div class="reusesu-table-row">
                        <div class="modal-body-text" style="width: 600px;">
                            <ul>
                                <li><strong>Test</strong> test</li>
                                <br />
                                <li><strong>Test Test Test</strong> Lorem Impsum lorem ipsum</li>
                                <br />
                                <li><strong>Test test</strong> Test Test Lorem Ipsum</li>
                                <br />
                                <li>Test test <strong>Important important text</strong></li>
                                <br />
                                <li>Test test <strong>More Important important text</strong> and here's some more unimportant text that will be long</li>
                                <br />
                            </ul>
                        </div>
                    </div>
                    <div class="checkbox-modal-area">
                        <div class="checkbox-modal">
                            <input type="checkbox" onchange="document.getElementById('agree-button').disabled = !this.checked;" />
                        </div>
                        <div class="agreement-text">
                            <p>
                                By checking this box, I accept personal responsibility for what I<br />
                                post and acknowledge that SU is not liable for how this site is used.
                            </p>
                        </div>
                    </div>

                    <div class="modal-buttons" style="margin: 0px;">
                        <div class="modal-button-container">
                            <button type="button" id="agree-button"style="font-size:x-large;" class="btn btn-outline-dark modal-button" disabled
                                    data-dismiss="modal" data-toggle="modal" data-target="#tutorial-modal-3">
                                Agree
                            </button>
                            <br />
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#tutorial-modal-3">next</button>
            </div>
        </div>
    </div>
</div>

<div id="tutorial-modal-3" class="modal fade in">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 20px; background-color: #d7d7d7;">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <!--<a class="nav-link text-dark" asp-area="" asp-page="/02_UserAgreement"><img src="~/img/tut1_welcome_sliced.png" /></a>
        -->
                <div class="reuse-mod-body">
                    <em>Thank you!</em>  &nbsp;Let's get started with a<br />
                    quick walk-through of the site.
                </div>
                <br />
                <div class="modal-body-small-it">
                    This should only take a few minutes.
                </div>
                <br />
                <br />
                <div class="modal-buttons">
                    <div class="modal-button-container">
                        <button type="button" style="font-size:x-large;" class="btn btn-outline-dark modal-button">Get Started</button><br />
                    </div>
                </div>

                <div class="modal-link" data-dismiss="modal">
                    <a href="">Skip and Go Directly to Site</a>
                </div>
                <br />

                <!--<img src="~/img/03_start_tutorial.jpg" class="modal-tutorial-img" />
                    -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#tutorial-modal-4">next</button>
            </div>
        </div>
    </div>
</div>

<div id="tutorial-modal-4" class="modal fade in">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 20px; background-color: #d7d7d7;">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <!--<a class="nav-link text-dark" asp-area="" asp-page="/02_UserAgreement"><img src="~/img/tut1_welcome_sliced.png" /></a>
        -->

                <div class="reuse-mod-body">
                    <em>Lorem Ipsum!</em>  &nbsp;Lorem Ipsum<br />
                    lorem ipsum lorem ipsum and test.
                </div>
                <br />
                <div class="modal-body-small-it">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nibh nec lectus luctus lacinia vitae id lectus.
                </div>
                <br />
                <br />
                <div class="modal-buttons">
                    <div class="modal-button-container">
                        <button type="button" style="font-size:x-large;" class="btn btn-outline-dark modal-button">Finish Tutorial</button><br />
                    </div>
                </div>


                <!--<img src="~/img/10_tutorial_finish.jpg" class="modal-tutorial-img" />
                    -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#">next</button>
            </div>
        </div>
    </div>
</div>

<div id="tutorial-modal-5" class="modal fade in">
    <div class="modal-dialog modal-lg" style="margin: 0px 200px; width: 300px; height: 300px; border-radius: 20px; background-color: #d7d7d7;">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <h3 class="modal-title boldfont">Welcome</h3>
            <div class="modal-body">
                <a class="nav-link text-dark" asp-area="" asp-page="/02_UserAgreement"><img src="~/img/tut1_welcome_sliced.png" /></a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#tutorial-modal-5">next</button>
            </div>
        </div>
    </div>
</div>


<!--

<div class="text-center">
    <h1 class="display-4">ReuseSU</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

-->
<!--
    <a class="nav-link text-dark" asp-area="" asp-page="/ItemReadView"> <img src="~/img/Danial_1_homepage_wEvilPost.jpg" /></a>
-->
<!--
    <div class="card-columns">
        @foreach (var product in Model.Products)
        {
            <div class="card">
                <div class="card-img" style="background-image: url('@product.Image');">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@product.Title</h5>
                </div>
            </div>
        }
    </div>
-->