@page
@model ReuseSU.website.Pages.NewPostItemSpecificsModel
@{
    ViewData["Title"] = "NewPostItemSpecifics";
}

<h1>NewPostItemSpecifics</h1>

<a class="nav-link text-dark" asp-area="" asp-page="/TutorialAfterPosting"> <img src="~/img/07_fill_out_info_boxes.jpg" /></a>
