@page
@model ReuseSU.website.Pages.NewPostCategorySelectionModel
@{
    ViewData["Title"] = "NewPostCategorySelection";
}

<a class="nav-link text-dark" asp-area="" asp-page="/NewPostItemSpecifics"> <img src="~/img/06_category_q.jpg" /></a>

<h1>NewPostCategorySelection</h1>