@page
@model ReuseSU.website.Pages.TutorialStartModel
@{
    ViewData["Title"] = "TutorialStart";
}

<h1>TutorialStart</h1>

<img src="~/img/03_start_tutorial.jpg" />
<a class="nav-link text-dark" asp-area="" asp-page="/TutorialPrePost"><img src="~/img/03_start_tutorial.jpg" /></a>