@page
@model ReuseSU.website.Pages.TutorialAfterPostingModel
@{
    ViewData["Title"] = "TutorialAfterPosting";
}

<a class="nav-link text-dark" asp-area="" asp-page="/TutorialItemReadView"> <img src="~/img/08_made_post.jpg" /></a>

<h1>TutorialAfterPosting</h1>