@page
@model ReuseSU.website.Pages.WelcomeModel
@{
    ViewData["Title"] = "Welcome";
}

<h1>Welcome</h1>

<a class="nav-link text-dark" asp-area="" asp-page="/UserAgreement"><img src="~/img/01_welcome.jpg" /></a>