.lower-sidebar-text {
    margin-left: 30px;
    margin-top: 10px;
    font-style: italic;
    font-weight: 600;
}

.checkbox{
    margin-left: 30px;
    margin-top: 5px;
}

/* .reused-header is our custom built header for ReuseSU*/
.reuse-header {
    height: 100px;
    background-color: red;
}

.utility-bar {
    height: 100px;
    background-color: floralwhite;
    border: 1px solid #AA0000;
    border-bottom: 1px solid #AA0000;
    border-left: 1px solid #AA0000;
    border-right: 1px solid #AA0000;
}

.sidebar {
    background-color: white;
    width: 210px;
    float: left;
    height: 500px;
}

.sidebar-upper {
    height: 250px;
    background-color: floralwhite;
    border-left: 1px solid #AA0000;
    border-right: 1px solid #AA0000;
    text-align: center;
}

.sidebar-upper-button {
    width: 150px;
    margin: 5px 10px;
    background-color:lightgray;
}

/*The bottom sidebar. Borders individually set so both the upper and the lower sidebar don't combine to form a 2px border between them.*/
.sidebar-lower {
    height: 320px;
    background-color: floralwhite;
    border: 1px solid #AA0000;
}

.listing {
    height: 102px;
    width: 850px;
    float: right;
    background-color: floralwhite;
    border: 1px solid #AA0000;
    margin-top: 40px;
}


.listing-img {
    height: 100px;
    width: 100px;
    float: left;
    background-color: lightgray;
}

.listing-item-title {
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
    text-align:left;
    display: inline-block;
}

.listing-item-date-person {
    margin-top: 10px;
    text-align: right;
    margin-right: 15px;
    display: inline-block;
}

.listing-item-text {
    margin-top: 35px;
    margin-left: 115px;
}

.checked {
    color: orange;
}

.fa-star {
    cursor: pointer;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.card-columns .card-img {
    height: 330px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: .8;
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

.card-footer {
    background: #fbfafd;
}


a.navbar-brand {
    white-space: normal;
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Yellowtail', cursive;*/
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}

.bg-SURed{
    background-color: #AA0000;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #252152;
    border-color: #252152;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #e9a8a6;
        border-color: #e9a8a6;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

p {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

ul {
    font-family: 'Nunito', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Nunito', sans-serif;
}
/*Backgrounds*/
.bg-navbar {
    background: -webkit-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -o-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -moz-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
}

.bg-footer {
    background: -webkit-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -o-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -moz-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
}
