<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReuseSU.WebSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header-css">
        <!-- Our custom built header class. -->

        <div class="reuse-header">
            <a href="../Index">
                <div class="header-image">
                    <img src="https://www.seattleu.edu/media/marketing-communications/branding/spirit-marks/marcom-spirit-marks/SeattleUMain-red-background.png"
                         height="65">
                </div>
            </a>
            <a href="..Index" style="color:black;">
                <div class="header-title">
                    ReuseSU
                </div>
            </a>
            <div class="header-motto">
                Simple, sustainable sharing
                <a class="btn btn-outline-dark header-logout" asp-area="" asp-page="/browsingStudent">Logout</a>
            </div>
        </div>

    </header>
    <div class="container">
        <!-- Contains the New Post and Search functionality -->
        <div class="utility-bar">
            <div class="new-post">
                <a href="../create-post" style="color: black; text-decoration: none;">
                    <div class="new-post-plus">
                        +
                    </div>
                    <div class="new-post-afterplus">
                        New Post
                    </div>
                </a>
            </div>
            <div class="search-bar">
                <select name="SortBy" id="SortBy" class="sort-by">
                    <option value="newest">Newest</option>
                    <option value="oldest">Oldest</option>
                    <option value="user">User A-Z</option>
                    <option value="itemTitle">Item Title</option>
                </select>
                <button type="submit" class="search-button">Search</button>
                <input type="text" placeholder="Search.." name="search" class="search-input">
            </div>
        </div>
    </div>

    @RenderBody()
    <!-- This is the footer, usually the area for copyright and maybe a little navigation -->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ReuseSU.WebSite - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>


<!-- All stuff that follows is a result of modal divs -->

<!-- This is the tutorial-1 modal div -->
<div class="modal" id="tutModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Tutorial</h4>
            </div>

            <div class="modal-body">
                Tutorial information.<br /><br />Thing.
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">End tutorial</button>
            </div>

        </div>
    </div>
</div>
