<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReuseSU.WebSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header-css">
        <!-- Our custom built header class. -->

        <div class="reuse-header">
            <div class="header-image">
                <img src="https://www.seattleu.edu/media/marketing-communications/branding/spirit-marks/marcom-spirit-marks/SUinterlock.png"
                     width="100" height="100">
            </div>
            <div class="header-title">
                ReuseSU
            </div>

        </div>

        <!--
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-SURed border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">ReuseSU.WebSite</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        -->
    </header>

    <div class="container">
        
        <div class="utility-bar">
            <div class="new-post">
                <div class="new-post-plus">
                    +
                </div>
                <div class="new-post-afterplus">
                    New Post
                </div>
            </div>
            <div class="search-bar">
                <select name="SortBy" id="SortBy" class="sort-by">
                    <option value="newest">Newest</option>
                    <option value="oldest">Oldest</option>
                    <option value="user">User A-Z</option>
                    <option value="itemTitle">Item Title</option>
                </select>
                <button type="submit" class="search-button">Search</button>
                <input type="text" placeholder="Search.." name="search" class="search-input">
            </div>
        </div>

        <!-- A container for the sidebar information-->
        <div class="sidebar">
            
            <div class="sidebar-upper">

                <button type="button" class="btn btn-outline-dark sidebar-upper-button">Home</button><br />
                <button type="button" class="btn btn-outline-dark sidebar-upper-button">About</button>
                <button type="button" class="btn btn-outline-dark sidebar-upper-button">Usage Guidelines</button>
                <button type="button" class="btn btn-outline-dark sidebar-upper-button">Tutorial</button>
                <button type="button" class="btn btn-outline-dark sidebar-upper-button">My Posts</button>

            </div>
            
            <div class="sidebar-lower">

                <div class="lower-sidebar-text">Set defaults</div>
                <div class="checkbox"><input type="checkbox" checked />&nbsp;Test</div>
                <div class="checkbox"><input type="checkbox" />&nbsp;Test</div>

                <div class="lower-sidebar-text">Filter by Category</div>
                <div class="checkbox"><input type="checkbox" checked />&nbsp;Test</div>
                <div class="checkbox"><input type="checkbox" />&nbsp;Test</div>
                <div class="checkbox"><input type="checkbox" checked />&nbsp;Test</div>
                <div class="checkbox"><input type="checkbox" />&nbsp;Test</div>
                <div class="checkbox"><input type="checkbox" checked />&nbsp;Test</div>
                <div class="checkbox"><input type="checkbox" />&nbsp;Test</div>
            </div>

        </div>
        
        <main role="main" class="pb-3">
            <div class="listing">
                <div class="listing-img"><img src="~/img/AppleEarbudsSmall.jpg"></div>
                <div class="listing-item-title" style="float:left">Apple Earbuds 1</div>
                <div class="listing-item-date-person" style="float:right">January 23, 2020 by dherstad</div>
                <div class="listing-item-text">1 Great earbuds, only $75!</div>
            </div>
            <div class="listing">
                <div class="listing-img"><img src="~/img/AppleEarbudsSmall.jpg"></div>
                <div class="listing-item-title" style="float:left">Apple Earbuds 2</div>
                <div class="listing-item-date-person" style="float:right">January 23, 2020 by dherstad</div>
                <div class="listing-item-text">2 Great earbuds, only $75!</div>
            </div>
            <div class="listing">
                <div class="listing-img"><img src="~/img/AppleEarbudsSmall.jpg"></div>
                <div class="listing-item-title" style="float:left">Apple Earbuds 3</div>
                <div class="listing-item-date-person" style="float:right">January 23, 2020 by dherstad</div>
                <div class="listing-item-text">3 Great earbuds, only $75!</div>
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ReuseSU.WebSite - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
